*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 1200px;
    height: 100px;
    background-color: rgb(17, 16, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
header img{
    width: 70px;
}
.logo{
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-right: 30rem;
}
.navlink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 2rem;
    font-size: 20px;
    list-style:none;
}
.navlist{
    color: aliceblue;
    text-decoration: none;
    
}
main{
    max-width: 1200px;
    width: 100%;
    background-color:rgb(216, 213, 213);
    margin-right: auto;
    margin-left: auto;
}
main img{
    width: 300px;
}
.mains{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    list-style: none;
}
footer{
    max-width: 1200px;
    width: 100%;
    background-color: rgb(68, 70, 70);
    height:300px ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

}
.terms{
    color: white;
    text-decoration: none;
}
